body {
   font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;        
  display: flex;
  justify-content: center;  
  align-items: center;      
  background: #FEFFED;
}

.login {
  width: 2000px;
  height: 2120px;              
  display: flex;
  flex-direction: column;
}

.login-head {
  text-align: center;
  padding: 20px;
}

.login-head h1 {
  margin: 0;
  font-size: 100px;
  font-family: Arial, sans-serif;
  margin: 100px;
}

.login-body {
  flex: 1;                   
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.login-body input,
.btn-login {
  width: 90%;
  height: 70px;
  font-size: 40px;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px;
  color: black;
  margin: 50px
}

.btn-login {
  background: #486DFF;
  color: white;
  border: black solid;
  cursor: pointer;
  margin-top: 150px;
  padding: 10px;
}

.logo {
  width: 300px;      
  height: auto;      
  margin-bottom: 10px; 
}