body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfbea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-principal {
    width: 410px;
    height: 900px;
    background-color: #fdfbea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 20px 20px 30px 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header .icone {
    width: 35px;
    height: 35px;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
}

.botao {
    width: 90%;
    max-width: 350px;
    background-color: #fff3cf;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    transform: scale(1.01);
}

.botao img {
    width: 30px;
    height: 30px;
}

/* --- RODAPÉ PADRÃO --- */
.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fdfbea;
    border-top: 1px solid black;
    height: 80px;
    padding-top: 5px;
    width: 100%;
}

.menu-item-padrao {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.menu-item-padrao img {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}

.menu-item-padrao.ativo {
    font-weight: bold;
}