body {
  margin: 0;
  height: 100vh;        
  display: flex;
  justify-content: center;  
  align-items: center;      
  background: #FEFFED;
  font-family: Arial, sans-serif;
}

.generos {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FEFFED;
  padding: 20px;
}

.generos-head {
  text-align: center;
  margin-bottom: 20px;
  width: 970px;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 50px;
}

.generos-head h1 {
  font-size: 100px;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.generos-head p {
  font-size: 50px;
  margin: 0;
}

.generos-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 970px;
  margin: 100px;
}

.selecionar-generos {
  width: 700px;
  height: 550px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 29px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.767);
}

.continuar {
  padding: 12px;
  font-size: 40px;
  font-weight: bold;
  background: #486DFF;
  color: white;
  border: black solid;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  width: 700px;
  height: 70px;

}

.continuar:hover {
    background: rgb(53, 82, 197);
}

.opcao {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin: 20px 0;
}

.opcao input {
  transform: scale(1.8);
  margin-right: 15px;
}

h2 {
  font-size:  30px;
  background-color: #546dd1;
  color: #FEFFED;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 7px;
  justify-content:space-between
  
  
}
svg{
  width: 20px;
   fill: #ffffff;
  transform: rotate(180deg);
 
}
form{
  overflow: hidden; transition:  0.5s;
}
.fechado form{
  height: 0px; 
}
.fechado svg{
  transform: rotate(0deg);
}