body {
    background-color: #fefee9;
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
  width: 410px; 
  height: 900px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FEFFED;
  overflow: hidden;
}

header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px; 
}


header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

header img {
    width: 30px;
    height: 30px;
}

.grafico {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 16px;
    background-color: #fffce1;
}

.dias-semana {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-7dias, .btn-ultimo-mes {
    border: none;
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    font-weight: bold;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.btn-7dias { background-color: #f48ce0; }
.btn-ultimo-mes { background-color: #f4a0a0; }

.historico {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 15px;
    padding: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.item img { 
    width: 30px;
    height: 30px;
}

.item p {
    margin: 0;
    font-size: 16px;
}

.item span {
    color: #555;
    font-size: 14px;
    margin-left: 5px;
}


.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fefee9;
    border-top: 1px solid black;
    height: 80px;
    padding-top: 5px;
}

.menu-item-padrao {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-padrao img {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}

.menu-item-padrao.ativo {
    font-weight: bold;
}
  