body {
  margin: 0;
  height: 100vh;        
  display: flex;
  justify-content: center;  
  align-items: center;      
  background: #FEFFED;
  font-family: Arial, sans-serif;
}

.idade {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* organiza em coluna */
  align-items: center;
  background: #FEFFED;
}

.idade-head {
  text-align: center;
  margin-top: 150px; 
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 15px;
}

.idade-head h1 {
  font-size: 100px;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.idade-head p {
  font-size: 50px;
  margin: 0;
}

.idade-body {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 900px;
  gap: 15px;
}

.idade-body label {
  font-size: 45px;
  font-weight: bold;
  align-self: flex-start; 
}

.idade-body input {
  width: 100%;
  height: 80px;
  font-size: 40px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.btn-continuar {
  margin-top: 20px;
  padding: 12px;
  font-size: 40px;
  font-weight: bold;
  background: #486DFF;
  color: white;
  border: black solid;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  width: 100%;
  height: 70px;
  margin: 100px;
}

.btn-continuar:hover {
  background: #3655cc;
}