body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FEFFED;
  font-family: Arial, sans-serif;
}

.humor {
  width: 410px; 
  height: 900px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FEFFED;
  overflow: hidden;
}


.humor-head {
  text-align: center;
  margin-top: 30px;
}

.titulo {
  background: #9284D6;
  color: white;
  font-size: 24px; 
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  height: 120px; 
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 3px 4px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  text-align: center;
}


.humor-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  margin-top: 30px;
  padding: 0 10px; 

}

.btn-humor {
  width: 90%;
  height: 80px; 
  border-radius: 40px;
  border: none;
  font-size: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px; 
  cursor: pointer;
  box-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

.btn-humor img {
  width: 40px; 
  height: 40px;
}

.energia { background-color: #FCE77D; }
.tranquilidade { background-color: #FCE77D; }
.reflexao { background-color: #FCE77D; }
.felizao { background-color: #FCE77D; }

.a {
  width: 100%;
  height: 100%; 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; 
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.b {
  color: black;
  text-decoration: none;
}


.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FEFFED;
    border-top: 1px solid black;
    height: 80px; 
    padding-top: 5px;
}

.menu-item-padrao {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-padrao img {
    width: 30px; 
    height: 30px;
    margin-bottom: 2px;
}

.menu-item-padrao.ativo {
    font-weight: bold;
}