body {
  margin: 0;
  height: 100vh;        
  display: flex;
  justify-content: center;  
  align-items: center;      
  background: #FEFFED;
  font-family: Arial, sans-serif;
}

.humor {
  width: 2000px;
  height: 2120px;              
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #FEFFED;
  overflow: hidden;
}


.humor-head {
  text-align: center;
  margin-top: 30px;
}

.titulo {
  background: #9284D6;
  color: white;
  font-size: 48px;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 3px 4px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid;
}


.humor-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  margin-top: 30px;

}

.btn-humor {
  width: 80%;
  height: 150px;
  border-radius: 40px;
  border: none;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  cursor: pointer;
  box-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

.btn-humor img {
  width: 100px;
  height: 100px;
}

.emoji {
  font-size: 26px;
}

.energia {
  background-color: #C0E9FF;
}

.tranquilidade {
  background-color: #C0E9FF;
}

.reflexao {
  background-color: #C0E9FF;
}

.felizao {
  background-color: #C0E9FF;
}


.humor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FEFFED;
    border-top: black solid;
    height: 250px;
    color: black;
    text-decoration: none;
}

.menu-item {
  text-align: center;
  font-size: 30px;
}

.menu-item img {
  width: 90px;
  height: 90px;
}

.menu-item.ativo {
  color: black;
  font-weight: bold;
}

.a {
  width: 100%;
  height: 150px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b {
  color: black;
  text-decoration: none;
}