body {
     font-family: Arial, sans-serif;
    background: #FEFFED;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  width: 410px; 
  height: 800px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FEFFED;
  overflow: hidden;
}

header {
    background: #9A89D9;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 100px; /* Ajustei a altura */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 40px; /* Ajustei o tamanho */
    text-shadow: 2px 2px #7e72b8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start; /* Alinhamento ao topo */
    gap: 20px; /* Espaçamento entre os elementos */
}

.foto-perfil img {
    width: 150px; /* Ajustei o tamanho */
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nome {
    font-size: 30px;
    margin: 10px 0 30px 0; /* Espaçamento abaixo do nome */
}

.botao {
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.botao img {
    width: 30px;
    height: 30px;
}

.configuracoes {
    background: #C0E9FF;
    height: 60px;
    font-size: 20px;
}

.sair {
    background: #FFAFAF;
    height: 60px;
    font-size: 20px;
}

.a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.a h2 {
    font-size: 20px;
    margin: 0;
}

/* ---------------------------------------------------- */
/* RODAPÉ PADRÃO (Copiado do inicial.css) */
/* ---------------------------------------------------- */
.app-footer {
display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FEFFED;
    border-top: 1px solid black;
    height: 40px;
    padding-top: 25px;
}

.menu-item-padrao {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-padrao img {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}

.menu-item-padrao.ativo {
    font-weight: bold;
}